/* by id*/
#Contact-Information{
    padding: 9%;
    background-image: url("../img/mickey-o-neil-40129.jpg");
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;


}
#hobbies{
    padding:1%;
}


#Contact-Information a{
    color:black;
}


#About-Me, #projects, #languages{
    background-color:rgba(255,255,255,1);

}


#achievements,#hobbies,#Carreer-Path{
    background-color:rgba(58, 110, 164,0.97);

}

/*by type*/
nav, nav a{
    color: rgb(55,55,55)
}


body{
    background-clip:content-box;
    background-image: url("/img/silvio-kundt-65518.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    font-family: 'Quicksand', serif;
    color: rgb(55,55,55);
    margin: 0;
    padding:0;
    background-color: rgb(55,55,55);

}


h2{
    padding: 3%;
}
h5{
    padding: 1%;
}


img{
    height: 100%;
}

footer{
    background-color: rgba(255,255,255,1);
    padding:0;
    font-size:50%;

}

footer div, footer p{
    margin: 0;
}


/*By class*/
.allDivs{
    width: 100%;
    padding:0;
    margin: 0;
}

.jumbo{

    display:block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding:4%;

}

.carousel{
    width: 100%;
    height:100%;
    background-color:black;

}


.language{
    padding:3%;

}
.interest{
    padding:1%;
}
.contactInfo{
    margin:2%;
}

.contactInfo p{
    margin: 0;
    text-decoration: underline;
    font-size: large;
}
.aboutMeRow{
    border-left:1px dotted black;
    font-size: 120%;
}

.interestsRow{
    padding:5%;
}

.timeline-panel{
    background-color:rgba(255,255,255,0.95);
}
.aboutMeRow{
    text-align: justify;
    text-justify: auto;
}

.timeline-panel{
    text-align: justify;
    text-justify: auto;
}

.timeline-heading{
    text-align: center;
}

.carousel-caption {
    top: 40%;
    bottom: auto;
    padding-bottom: 500px;
    /*padding-top: 250px;*/
}


.carousel-titles, .carousel-descriptions {
    color: blue;
    background-color: rgba(255,255,255,0.65);
}

/*More precision*/

#interest h2{
    margin:2%;
}


#projectsCarousel > div > div >img{
    width: 50%;
    height:50%;
}

/*for big-small devices*/
@media all and (max-width: 800px){
    div.carousel-item > img{
        min-height: 300px;
    }
    body, p {
        font-size: 100%;
    }
    h4,h5{
        font-size: 100%;
    }
    h2{
        font-size: 140%;
    }
}

/*for medium-small devices*/
@media all and (max-width: 700px){
    div.carousel-item > img{
        min-height: 250px;
    }

    body, p {
        font-size: 90%;
    }
    h4,h5{
        font-size: 100%;
    }
    h2{
        font-size: 150%;
    }

}

/* for small devices */

@media all and (max-width: 600px){
    body, p {
        font-size: 80%;
    }
    h4,h5{
        font-size: 100%;
    }
    h2{
        font-size: 150%;
    }
    div.carousel-item > img{
        min-height: 200px;
    }
    .timeline-panel{
        font-size:120%;
        min-width: 250px;
    }
    .timeline-badge{
        max-width: 0;
        max-height: 0;
    }
    .navbar-brand{
        font-size:100%;
    }
    ul.list-group:nth-child(2) > li:nth-child(3) > img:nth-child(1){
        max-height: 10px;
        max-width: 10px;
    }

}