#begin{
    padding: 9%;
    background-image: url("../img/mickey-o-neil-40129.jpg");
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;


}
nav, nav a{
    color: rgb(55,55,55)
}

.allDivs{
    width: 100%;
    padding:0px;
    margin: 0px;
}

body{
    background-clip:content-box;
    background-image: url("/img/silvio-kundt-65518.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    font-family: 'Quicksand', serif;
    color: rgb(55,55,55);
    margin: 0px;
    padding:0px;
    background-color: rgb(55,55,55);

}


h2{
    padding: 3%;
}
h5{
    padding: 1%;
}


img{
    height: 100%;
}

footer{
    background-color: rgba(255,255,255,1);
    padding:0;
    font-size:50%;

}

footer div, footer p{
    margin: 0;
}

.jumbo{

    display:block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding:4%;

}
#hobbies{
    padding:1%;
}


#begin a{
    color:black;
}


#interests, #projects, #languages{
    background-color:rgba(255,255,255,1);

}


#achievements,#hobbies,#path{
    background-color:rgba(58, 110, 164,0.97);

}
.carousel{
    width: 100%;
    height:100%;
    background-color:black;

}

#projectsCarousel > div > div >img{
    width: 50%;
    height:50%;
}

.language{
    padding:3%;

}
.interest{
    padding:1%;
}
.contactInfo{
    margin:2%;
}

.contactInfo p{
    margin: 0;
    text-decoration: underline;
    font-size: large;
}
.aboutMeRow{
    border-left:1px dotted black;
    font-size: 120%;
}

#interest h2{
    margin:2%;
}

.interestsRow{
    padding:5%;
}

.timeline-panel{
    background-color:rgba(255,255,255,0.95);
}
.aboutMeRow{
    text-align: justify;
    text-justify: auto;
}

.timeline-panel{
    text-align: justify;
    text-justify: auto;
}